@media screen and (min-width: 320px) and (max-width: 600px) {
  body {
    width: 100%;
    margin: 0;
  }
}
body {
  font-family: Roboto;
}

.btn-commande {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border-style: none;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  border-radius: 50px;
  padding: 2.5% 6%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 3px 5px 15px lightgrey;
  font-size: 2em;
}
.btn-commande:hover {
  background: linear-gradient(to top, #ff88e9, #a665d7);
  box-shadow: 7px 9px 19px grey;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .btn-commande {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-style: none;
    background: linear-gradient(to top, #FF79DA, #9356DC);
    border-radius: 35px;
    padding: 4% 10%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 3px 5px 15px lightgrey;
    font-size: 1em;
  }
  .btn-commande:hover {
    background: linear-gradient(to top, #ff88e9, #a665d7);
    box-shadow: 7px 9px 19px grey;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .btn-commande {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-style: none;
    background: linear-gradient(to top, #FF79DA, #9356DC);
    border-radius: 35px;
    padding: 4% 10%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 3px 5px 15px lightgrey;
    font-size: 1.5em;
  }
  .btn-commande:hover {
    background: linear-gradient(to top, #ff88e9, #a665d7);
    box-shadow: 7px 9px 19px grey;
  }
}
.far {
  cursor: pointer;
  scale: 1;
  transition: transmform 600ms;
}
.far:active + .fas {
  scale: 1.5;
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.loading-spinner {
  animation: loading-spinner 1.5s linear infinite;
  animation-delay: 500ms;
  border: double 20px rgba(126, 101, 101, 0);
  border-top: solid 20px #FF79DA;
  border-bottom: solid 20px #9356DC;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  opacity: 0;
  animation-iteration-count: 2;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 45%;
  background-attachment: scroll;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
footer {
  width: 100%;
  background-color: #353535;
  padding: 3% 0 4% 0;
}
footer h2 {
  font-size: 3em;
  font-family: Shrikhand;
  font-weight: normal;
  color: #fff;
  padding-left: 5%;
  margin-bottom: 3%;
}
footer .foot-lien {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
footer a {
  font-size: 2em;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  padding-bottom: 1.5%;
}
footer a #i-hands {
  padding-right: 15px;
}
footer a #i-utensils {
  padding-right: 25px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  footer {
    width: 100%;
    background-color: #353535;
    padding: 3% 0 4% 0;
  }
  footer h2 {
    font-size: 1.6em;
    font-family: Shrikhand;
    font-weight: normal;
    color: #fff;
    padding-left: 5%;
  }
  footer .foot-lien {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
  footer a {
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding-bottom: 1.5%;
  }
  footer a #i-hands {
    padding-right: 15px;
  }
  footer a #i-utensils {
    padding-right: 25px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  footer {
    width: 100%;
    background-color: #353535;
    padding: 3% 0 4% 0;
  }
  footer h2 {
    font-size: 1.9em;
    font-family: Shrikhand;
    font-weight: normal;
    color: #fff;
    padding-left: 5%;
  }
  footer .foot-lien {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
  footer a {
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding-bottom: 1.5%;
  }
  footer a #i-hands {
    padding-right: 15px;
  }
  footer a #i-utensils {
    padding-right: 25px;
  }
}
#header-annexe {
  display: flex;
  align-items: center;
  width: 100%;
}
#header-annexe h1 {
  font-size: 6em;
}
#header-annexe img {
  width: 45%;
}
#header-annexe a, #header-annexe i {
  color: #000;
  margin-left: 5%;
}
#header-annexe #media-queries {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #header-annexe {
    display: flex;
    align-items: center;
    width: 100%;
  }
  #header-annexe h1 {
    font-size: 2.3em;
  }
  #header-annexe img {
    width: 60%;
  }
  #header-annexe a, #header-annexe i {
    color: #000;
    margin-left: 5%;
    text-decoration: none;
  }
  #header-annexe #desktop {
    display: none;
  }
  #header-annexe #media-queries {
    display: inline;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  #header-annexe {
    display: flex;
    align-items: center;
    width: 100%;
  }
  #header-annexe h1 {
    font-size: 4em;
  }
  #header-annexe img {
    width: 60%;
  }
  #header-annexe a, #header-annexe i {
    color: #000;
    margin-left: 5%;
    text-decoration: none;
  }
  #header-annexe #desktop {
    display: none;
  }
  #header-annexe #media-queries {
    display: block;
  }
}
.background-img img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .background-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .background-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
  }
}
.bloc-menus {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding-top: 7%;
  padding-bottom: 15%;
  margin-top: -3%;
  position: sticky;
}
.bloc-menus--title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bloc-menus--title__h2 {
  font-family: Shrikhand;
  font-size: 4em;
  margin: 0 0 3% 0;
  padding-left: 6%;
}
.bloc-menus__entrees {
  margin-top: 5%;
}
.bloc-menus__entrees h2 {
  font-family: Roboto;
  font-size: 2em;
  font-weight: normal;
  margin-left: 7%;
}
.bloc-menus__entrees h2 .h2-underline {
  border-bottom: 0.3em solid #99E2D0;
}
.bloc-menus__entrees .container {
  margin: auto;
  width: 80%;
  box-shadow: 0 5px 20px lightgrey;
  border-radius: 20px;
  display: flex;
  margin-bottom: 3%;
}
.bloc-menus__entrees .container em {
  font-weight: bold;
  font-style: normal;
}
.bloc-menus__entrees .nom-menu {
  width: 90%;
  margin-left: 3%;
}
.bloc-menus__entrees .prix {
  width: 10%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.bloc-menus__entrees .animation-check {
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0, 0, 1, 1);
  background: #99E2D0;
  width: 0;
  height: auto;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bloc-menus__entrees .animation-check i {
  color: #fff;
}
.bloc-menus__entrees .container:hover > .animation-check {
  width: 15%;
  transform: scaleX(1);
  transform-origin: right;
}
.bloc-menus__plats {
  margin-top: 5%;
}
.bloc-menus__plats h2 {
  font-family: Roboto;
  font-size: 2em;
  font-weight: normal;
  margin-left: 7%;
}
.bloc-menus__plats h2 .h2-underline {
  border-bottom: 0.3em solid #99E2D0;
}
.bloc-menus__plats .container {
  margin: auto;
  width: 80%;
  box-shadow: 0 5px 20px lightgrey;
  border-radius: 20px;
  display: flex;
  margin-bottom: 3%;
}
.bloc-menus__plats .container em {
  font-weight: bold;
  font-style: normal;
}
.bloc-menus__plats .nom-menu {
  width: 90%;
  margin-left: 3%;
}
.bloc-menus__plats .prix {
  width: 10%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.bloc-menus__plats .animation-check {
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0, 0, 1, 1);
  background: #99E2D0;
  width: 0;
  height: auto;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bloc-menus__plats .animation-check i {
  color: #fff;
}
.bloc-menus__plats .container:hover > .animation-check {
  width: 15%;
  transform: scaleX(1);
  transform-origin: right;
}
.bloc-menus__desserts {
  margin-top: 5%;
}
.bloc-menus__desserts h2 {
  font-family: Roboto;
  font-size: 2em;
  font-weight: normal;
  margin-left: 7%;
}
.bloc-menus__desserts h2 .h2-underline {
  border-bottom: 0.2em solid #99E2D0;
}
.bloc-menus__desserts .container {
  margin: auto;
  width: 80%;
  box-shadow: 0 5px 20px lightgrey;
  border-radius: 20px;
  display: flex;
  margin-bottom: 3%;
}
.bloc-menus__desserts .container em {
  font-weight: bold;
  font-style: normal;
}
.bloc-menus__desserts .nom-menu {
  width: 90%;
  margin-left: 3%;
}
.bloc-menus__desserts .prix {
  width: 10%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.bloc-menus__desserts .animation-check {
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0, 0, 1, 1);
  background: #99E2D0;
  width: 0;
  height: auto;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bloc-menus__desserts .animation-check i {
  color: #fff;
}
.bloc-menus__desserts .container:hover > .animation-check {
  width: 15%;
  transform: scaleX(1);
  transform-origin: right;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .bloc-menus {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 35px 35px 0 0;
    padding-top: 7%;
    padding-bottom: 15%;
    margin-top: -12%;
    position: sticky;
  }
  .bloc-menus--title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bloc-menus--title__h2 {
    font-family: Shrikhand;
    font-size: 1.6em;
    margin: 0 0 5% 0;
    padding-left: 4%;
  }
  .bloc-menus__entrees {
    margin-top: 5%;
  }
  .bloc-menus__entrees h2 {
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 5%;
  }
  .bloc-menus__entrees h2 .h2-underline {
    border-bottom: 0.2em solid #99E2D0;
  }
  .bloc-menus__entrees .container {
    margin: auto;
    width: 90%;
    box-shadow: 0 5px 20px lightgrey;
    border-radius: 20px;
    display: flex;
    margin-bottom: 3%;
  }
  .bloc-menus__entrees .container em {
    font-weight: bold;
    font-style: normal;
  }
  .bloc-menus__entrees .nom-menu {
    width: 90%;
    margin-left: 3%;
  }
  .bloc-menus__entrees .prix {
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bloc-menus__entrees .animation-check {
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0, 0, 1, 1);
    background: #99E2D0;
    width: 0;
    height: auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bloc-menus__entrees .animation-check i {
    color: #fff;
  }
  .bloc-menus__entrees .container:hover > .animation-check {
    width: 15%;
    transform: scaleX(1);
    transform-origin: right;
  }
  .bloc-menus__plats {
    margin-top: 9%;
  }
  .bloc-menus__plats h2 {
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 5%;
  }
  .bloc-menus__plats h2 .h2-underline {
    border-bottom: 0.2em solid #99E2D0;
  }
  .bloc-menus__plats .container {
    margin: auto;
    width: 90%;
    box-shadow: 0 5px 20px lightgrey;
    border-radius: 20px;
    display: flex;
    margin-bottom: 3%;
  }
  .bloc-menus__plats .container em {
    font-weight: bold;
    font-style: normal;
  }
  .bloc-menus__plats .nom-menu {
    width: 90%;
    margin-left: 3%;
  }
  .bloc-menus__plats .prix {
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bloc-menus__plats .animation-check {
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0, 0, 1, 1);
    background: #99E2D0;
    width: 0;
    height: auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bloc-menus__plats .animation-check i {
    color: #fff;
  }
  .bloc-menus__plats .container:hover > .animation-check {
    width: 15%;
    transform: scaleX(1);
    transform-origin: right;
  }
  .bloc-menus__desserts {
    margin-top: 9%;
  }
  .bloc-menus__desserts h2 {
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 5%;
  }
  .bloc-menus__desserts h2 .h2-underline {
    border-bottom: 0.2em solid #99E2D0;
  }
  .bloc-menus__desserts .container {
    margin: auto;
    width: 90%;
    box-shadow: 0 5px 20px lightgrey;
    border-radius: 20px;
    display: flex;
    margin-bottom: 3%;
  }
  .bloc-menus__desserts .container em {
    font-weight: bold;
    font-style: normal;
  }
  .bloc-menus__desserts .nom-menu {
    width: 90%;
    margin-left: 3%;
  }
  .bloc-menus__desserts .prix {
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bloc-menus__desserts .animation-check {
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0, 0, 1, 1);
    background: #99E2D0;
    width: 0;
    height: auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bloc-menus__desserts .animation-check i {
    color: #fff;
  }
  .bloc-menus__desserts .container:hover > .animation-check {
    width: 15%;
    transform: scaleX(1);
    transform-origin: right;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .bloc-menus {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 35px 35px 0 0;
    padding-top: 7%;
    padding-bottom: 15%;
    margin-top: -12%;
    position: sticky;
  }
  .bloc-menus--title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bloc-menus--title__h2 {
    font-family: Shrikhand;
    font-size: 2em;
    margin: 0 0 5% 0;
    padding-left: 4%;
  }
  .bloc-menus__entrees {
    margin-top: 5%;
  }
  .bloc-menus__entrees h2 {
    font-family: Roboto;
    font-size: 1.6em;
    font-weight: normal;
  }
  .bloc-menus__entrees h2 .h2-underline {
    border-bottom: 0.3em solid #99E2D0;
  }
  .bloc-menus__entrees .container {
    margin: auto;
    width: 90%;
    box-shadow: 0 5px 20px lightgrey;
    border-radius: 20px;
    display: flex;
    margin-bottom: 3%;
  }
  .bloc-menus__entrees .container em {
    font-weight: bold;
    font-style: normal;
  }
  .bloc-menus__entrees .nom-menu {
    width: 90%;
    margin-left: 3%;
  }
  .bloc-menus__entrees .prix {
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bloc-menus__entrees .animation-check {
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0, 0, 1, 1);
    background: #99E2D0;
    width: 0;
    height: auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bloc-menus__entrees .animation-check i {
    color: #fff;
  }
  .bloc-menus__entrees .container:hover > .animation-check {
    width: 15%;
    transform: scaleX(1);
    transform-origin: right;
  }
  .bloc-menus__plats {
    margin-top: 9%;
  }
  .bloc-menus__plats h2 {
    font-family: Roboto;
    font-size: 1.6em;
    font-weight: normal;
  }
  .bloc-menus__plats h2 .h2-underline {
    border-bottom: 0.3em solid #99E2D0;
  }
  .bloc-menus__plats .container {
    margin: auto;
    width: 90%;
    box-shadow: 0 5px 20px lightgrey;
    border-radius: 20px;
    display: flex;
    margin-bottom: 3%;
  }
  .bloc-menus__plats .container em {
    font-weight: bold;
    font-style: normal;
  }
  .bloc-menus__plats .nom-menu {
    width: 90%;
    margin-left: 3%;
  }
  .bloc-menus__plats .prix {
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bloc-menus__plats .animation-check {
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0, 0, 1, 1);
    background: #99E2D0;
    width: 0;
    height: auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bloc-menus__plats .animation-check i {
    color: #fff;
  }
  .bloc-menus__plats .container:hover > .animation-check {
    width: 15%;
    transform: scaleX(1);
    transform-origin: right;
  }
  .bloc-menus__desserts {
    margin-top: 9%;
  }
  .bloc-menus__desserts h2 {
    font-family: Roboto;
    font-size: 2em;
    font-weight: normal;
  }
  .bloc-menus__desserts h2 .h2-underline {
    border-bottom: 0.3em solid #99E2D0;
  }
  .bloc-menus__desserts .container {
    margin: auto;
    width: 90%;
    box-shadow: 0 5px 20px lightgrey;
    border-radius: 20px;
    display: flex;
    margin-bottom: 3%;
  }
  .bloc-menus__desserts .container em {
    font-weight: bold;
    font-style: normal;
  }
  .bloc-menus__desserts .nom-menu {
    width: 90%;
    margin-left: 3%;
  }
  .bloc-menus__desserts .prix {
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bloc-menus__desserts .animation-check {
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0, 0, 1, 1);
    background: #99E2D0;
    width: 0;
    height: auto;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .bloc-menus__desserts .animation-check i {
    color: #fff;
  }
  .bloc-menus__desserts .container:hover > .animation-check {
    width: 15%;
    transform: scaleX(1);
    transform-origin: right;
  }
}
.bloc-menus__entrees {
  animation: fadein 4s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bloc-menus__plats {
  animation: fadeinplats 4s;
}

@keyframes fadeinplats {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bloc-menus__desserts {
  animation: fadeindesserts 4s;
}

@keyframes fadeindesserts {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  width: 100%;
}
header h1 {
  width: 100%;
  font-family: Shrikhand;
  font-size: 6em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2%;
}
header img {
  width: 60%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  header {
    width: 100%;
  }
  header h1 {
    width: 100%;
    font-family: Shrikhand;
    font-size: 3em;
    text-align: center;
    margin: 2% 0;
  }
  header img {
    width: 300px;
    height: 90px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  header {
    width: 100%;
  }
  header h1 {
    width: 100%;
    font-family: Shrikhand;
    font-size: 4.5em;
    text-align: center;
    margin: 2% 0;
  }
  header img {
    width: 50%;
    height: auto;
  }
}
.nav-presentation .nav__localisation {
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0 7px 10px lightgrey;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 4% 0 4% 0;
}
.nav-presentation .nav__localisation input {
  width: 30%;
  border-style: none;
  font-weight: bold;
  font-size: 2.5em;
  background-color: #eaeaea;
}
.nav-presentation .nav__localisation img {
  width: 50px;
  padding-right: 43px;
}
.nav-presentation .nav__bloc {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 10%;
}
.nav-presentation .nav__bloc h2 {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-top: 0;
  padding-top: 4%;
}
.nav-presentation .nav__bloc br {
  display: none;
}
.nav-presentation .nav__bloc p {
  font-size: 2.5em;
  text-align: center;
}
.nav-presentation .nav__bloc a {
  text-decoration: none;
  font-size: 2.3em;
  color: #fff;
  font-weight: 500;
}
.nav-presentation .nav__bloc span {
  display: block;
  text-align: center;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: 5%;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  border-radius: 100px;
  padding: 3% 2%;
  box-shadow: 0 7px 10px lightgrey;
}
.nav-presentation .nav__bloc span:hover {
  background: linear-gradient(to top, #ff88e9, #a665d7);
  box-shadow: 7px 9px 19px grey;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .nav-presentation .nav__localisation {
    width: 100%;
    background-color: #eaeaea;
    box-shadow: inset 0 7px 10px lightgrey;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 4% 0 4% 0;
  }
  .nav-presentation .nav__localisation input {
    width: 40%;
    border-style: none;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #eaeaea;
  }
  .nav-presentation .nav__localisation img {
    width: 25px;
    padding-right: 23px;
  }
  .nav-presentation .nav__bloc {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 10%;
  }
  .nav-presentation .nav__bloc h2 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    padding-top: 4%;
  }
  .nav-presentation .nav__bloc p {
    font-size: 1.3em;
    text-align: center;
  }
  .nav-presentation .nav__bloc a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }
  .nav-presentation .nav__bloc span {
    display: block;
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    background: linear-gradient(to top, #FF79DA, #9356DC);
    border-radius: 35px;
    padding: 5% 4%;
    box-shadow: 0 7px 10px lightgrey;
  }
  .nav-presentation .nav__bloc span:hover {
    background: linear-gradient(to top, #ff88e9, #a665d7);
    box-shadow: 7px 9px 19px grey;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .nav-presentation .nav__localisation {
    width: 100%;
    background-color: #eaeaea;
    box-shadow: inset 0 7px 10px lightgrey;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 4% 0 4% 0;
  }
  .nav-presentation .nav__localisation input {
    width: 45%;
    border-style: none;
    font-weight: bold;
    font-size: 1.6em;
    background-color: #eaeaea;
  }
  .nav-presentation .nav__localisation img {
    width: 35px;
    padding-right: 33px;
  }
  .nav-presentation .nav__bloc {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 10%;
  }
  .nav-presentation .nav__bloc h2 {
    font-weight: bold;
    font-size: 2.3em;
    text-align: center;
    margin-top: 0;
    padding-top: 4%;
  }
  .nav-presentation .nav__bloc br {
    display: none;
  }
  .nav-presentation .nav__bloc p {
    font-size: 1.6em;
    text-align: center;
  }
  .nav-presentation .nav__bloc a {
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    font-weight: 500;
  }
  .nav-presentation .nav__bloc span {
    display: block;
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    background: linear-gradient(to top, #FF79DA, #9356DC);
    border-radius: 35px;
    padding: 5% 4%;
    box-shadow: 0 7px 10px lightgrey;
  }
  .nav-presentation .nav__bloc span:hover {
    background: linear-gradient(to top, #ff88e9, #a665d7);
    box-shadow: 7px 9px 19px grey;
  }
}
.section-fct {
  margin-left: auto;
  margin-right: auto;
}
.section-fct h3 {
  font-size: 2.5em;
  text-align: center;
}
.section-fct span {
  color: #fff;
  background-color: #9356DC;
  padding: 10px 30px;
  border-radius: 100%;
  margin-right: 25px;
  margin-left: -15px;
  font-size: 1.5em;
}
.section-fct p {
  font-size: 2em;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 5%;
  border-radius: 25px;
  box-shadow: 3px 5px 15px lightgrey;
}
.section-fct__carte1 {
  background-color: #f6f6f6;
  padding: 30px 0;
  margin-bottom: 25px;
}
.section-fct__carte1 i {
  color: grey;
  padding: 0 55px;
}
.section-fct__carte2 {
  background-color: #f6f6f6;
  padding: 30px 0;
  margin-bottom: 25px;
}
.section-fct__carte2 i {
  color: grey;
  padding: 0 47px;
}
.section-fct__carte3 {
  padding: 30px 0;
  background-color: #f5edff;
  margin-bottom: 75px;
}
.section-fct__carte3 i {
  color: #9356DC;
  padding: 0 45px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .section-fct {
    margin-left: 2%;
    margin-bottom: 10%;
  }
  .section-fct h3 {
    font-size: 1.8em;
    padding-left: 4%;
    text-align: left;
  }
  .section-fct span {
    color: #fff;
    background-color: #9356DC;
    padding: 5px 12px;
    border-radius: 100%;
    margin-right: 25px;
    margin-left: -15px;
    font-size: 1em;
  }
  .section-fct p {
    font-size: 1em;
    font-weight: bold;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border-radius: 25px;
    box-shadow: 3px 5px 15px lightgrey;
  }
  .section-fct__carte1 {
    background-color: #f6f6f6;
    padding: 30px 0;
    margin-bottom: 25px;
  }
  .section-fct__carte1 i {
    color: grey;
    padding-right: 35px;
    padding-left: 0;
  }
  .section-fct__carte2 {
    background-color: #f6f6f6;
    padding: 30px 0;
    margin-bottom: 25px;
  }
  .section-fct__carte2 i {
    color: grey;
    padding-right: 27px;
    padding-left: 0;
  }
  .section-fct__carte3 {
    padding: 30px 0;
    background-color: #f5edff;
    margin-bottom: 75px;
  }
  .section-fct__carte3 i {
    color: #9356DC;
    padding-right: 25px;
    padding-left: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .section-fct {
    margin-left: 2%;
    margin-bottom: 10%;
  }
  .section-fct h3 {
    font-size: 2.1em;
    padding-left: 4%;
    text-align: left;
  }
  .section-fct span {
    color: #fff;
    background-color: #9356DC;
    padding: 5px 12px;
    border-radius: 100%;
    margin-right: 25px;
    margin-left: -15px;
  }
  .section-fct p {
    font-size: 1.3em;
    font-weight: bold;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border-radius: 25px;
    box-shadow: 3px 5px 15px lightgrey;
  }
  .section-fct__carte1 {
    background-color: #f6f6f6;
    padding: 30px 0;
    margin-bottom: 25px;
  }
  .section-fct__carte1 i {
    color: grey;
    padding-right: 35px;
  }
  .section-fct__carte2 {
    background-color: #f6f6f6;
    padding: 30px 0;
    margin-bottom: 25px;
  }
  .section-fct__carte2 i {
    color: grey;
    padding-right: 27px;
  }
  .section-fct__carte3 {
    padding: 30px 0;
    background-color: #f5edff;
    margin-bottom: 75px;
  }
  .section-fct__carte3 i {
    color: #9356DC;
    padding-right: 25px;
  }
}
.section-resto {
  background-color: #f6f6f6;
  width: 100%;
  padding: 65px 0;
  position: relative;
}
.section-resto h3 {
  font-size: 2.5em;
  text-align: center;
}
.section-resto__blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-resto__blocs--container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7%;
  background-color: #fff;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  width: 40%;
  height: 550px;
  box-shadow: 0 7px 10px lightgrey;
}
.section-resto__blocs--container a {
  width: 100%;
  height: 550px;
  text-decoration: none;
  position: relative;
  color: #000;
}
.section-resto__blocs--container .far {
  position: absolute;
  z-index: 3;
  margin: 200px 0 0 -80px;
}
.section-resto__blocs--container .fas {
  position: absolute;
  z-index: 1;
  margin: 200px 0 0 -80px;
  background: linear-gradient(to top, #FF79DA, #9356DC);
}
.section-resto__blocs--container img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0 0;
  position: relative;
}
.section-resto__blocs--container .container-new {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
}
.section-resto__blocs .new {
  width: 140px;
  color: #008766;
  background-color: #99e2d0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 3%;
}
.section-resto__blocs p {
  padding-left: 5%;
  font-size: 2em;
}
.section-resto__blocs p em {
  font-weight: bold;
  font-style: normal;
}
.section-resto__blocs div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .section-resto {
    background-color: #f6f6f6;
    width: 100%;
    padding: 45px 0;
  }
  .section-resto h3 {
    font-size: 1.8em;
    padding-left: 4%;
    text-align: left;
    margin-top: 0;
  }
  .section-resto__blocs--container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    width: 90%;
    height: 365px;
    box-shadow: 0 7px 10px lightgrey;
  }
  .section-resto__blocs--container a {
    width: 100%;
    height: 365px;
    text-decoration: none;
    position: relative;
    color: #000;
  }
  .section-resto__blocs--container .far {
    position: absolute;
    z-index: auto;
    margin: 113px 0 0 -80px;
  }
  .section-resto__blocs--container img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 30px 30px 0 0;
    position: relative;
  }
  .section-resto__blocs .new {
    width: 85px;
    color: #008766;
    background-color: #99e2d0;
    padding: 8px 0 8px 17px;
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 200px;
    margin-top: 100px;
    position: absolute;
    z-index: 2;
  }
  .section-resto__blocs p {
    padding-left: 5%;
    font-size: 1.3em;
    margin-top: 15px;
  }
  .section-resto__blocs p em {
    font-weight: bold;
    font-style: normal;
  }
  .section-resto__blocs div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section-resto__blocs div i {
    padding-right: 5%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .section-resto {
    background-color: #f6f6f6;
    width: 100%;
    padding: 45px 0;
  }
  .section-resto h3 {
    font-size: 2.1em;
    padding-left: 4%;
    text-align: left;
    margin-top: 0;
  }
  .section-resto__blocs--container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    width: 90%;
    height: 400px;
    box-shadow: 0 7px 10px lightgrey;
  }
  .section-resto__blocs--container a {
    width: 100%;
    height: 400px;
    text-decoration: none;
    position: relative;
    color: #000;
  }
  .section-resto__blocs--container .far {
    position: absolute;
    z-index: auto;
    margin: 113px 0 0 -80px;
  }
  .section-resto__blocs--container img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 30px 30px 0 0;
    position: relative;
  }
  .section-resto__blocs .new {
    width: 105px;
    color: #008766;
    background-color: #99e2d0;
    padding: 8px 0 8px 17px;
    font-size: 1.1em;
    font-weight: 600;
    position: sticky;
  }
  .section-resto__blocs p {
    padding-left: 5%;
    font-size: 1.6em;
  }
  .section-resto__blocs p em {
    font-weight: bold;
    font-style: normal;
  }
  .section-resto__blocs div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section-resto__blocs div i {
    padding-right: 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
