.far{
    cursor: pointer;
    scale: (1);
    transition: transmform 600ms;
    &:hover{
        scale: (1.5);
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    }
}